target/

### spring starter ###
.mvn
mvnw
mvnw.cmd

### temp files ###
*.log
*.tmp
*.class

### STS and eclipse ###
.apt_generated
.classpath
.factorypath
.project
.springBeans
.sts4-cache
.settings/
bin/
tmp/
.metadata
*.bak
*.swp
*~.nib
local.properties
.loadpath

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
.idea_modules/

### VSCode ###
.vscode/
.code-workspace

### MACOS ###
.DS_Store